<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="col-lg-10 mx-auto p-3 py-md-5">
      {% include header.html %}
      {{ content }}
      {% include contact.html %}
      {% include footer.html %}
    </div>
    
    <a href="#" class="back-to-top" aria-label="Back to top" title="Back to top">
      <span class="back-to-top-text">Back to top </span>
      <i class="fas fa-arrow-up back-to-top-icon"></i>
    </a>
  
    <script src="{{ '/assets/js/back-to-top.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/footer-links.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/media-carousel.js' | relative_url }}"></script>
  </body>
</html>
